.card {
  font-family: arial;
  font-size: 20px;
  text-align: left;
  color: black;
  background-color: white;
}

img {
  width: auto;
  height: auto;
  max-width: 800px;
  max-height: 600px;
}

.subject {
  font-family: arial;
  font-size: 14px;
  text-align: right;
  color: #3c81e3;
}
